$yellow: rgb(255, 255, 1);
$black: black;
$white: white;
$font: 'Averin Heavy';

body {
    background-color: $white;
    margin:0;
    padding: 0;
}

.dashBoard-container {

    background-color: $white;
    padding: 0px !important;
    
    .div-title-logo {
        
        background-color: $black;
        display: flex;
        justify-content: space-between;

        h1 {
            text-align: center;
            font-family: $font;
            padding: 1.5rem;
            margin: 0.5% 30% 0 0;
            color: $white;
        }
        
        img {
            margin: 25% 0% 0% 25%;
            max-width: 4rem;
        }
    }
    
    
    .dashBoard-container-items {

        h4 {
            font-family: $font;
            margin-top: 6.5rem;
        }
     
        .items-button {
            
            margin: 0 !important;
            min-width: max-content;

            button {
                color: $yellow;
                font-family: $font;
                border-radius: 20px;
                border: solid 5px $yellow;
                margin-top:5rem;
                width: 100%;
                background-color: $black;
    
                &:hover {
                    color: $black;
                    background-color: $yellow;
                    border: solid 5px $black;
                }
            }
        }

        
    }
}