body {
  background-color: white;
  margin: 0;
  padding: 0; }

.dashBoard-container {
  background-color: white;
  padding: 0px !important; }
  .dashBoard-container .div-title-logo {
    background-color: black;
    display: flex;
    justify-content: space-between; }
    .dashBoard-container .div-title-logo h1 {
      text-align: center;
      font-family: "Averin Heavy";
      padding: 1.5rem;
      margin: 0.5% 30% 0 0;
      color: white; }
    .dashBoard-container .div-title-logo img {
      margin: 25% 0% 0% 25%;
      max-width: 4rem; }
  .dashBoard-container .dashBoard-container-items h4 {
    font-family: "Averin Heavy";
    margin-top: 6.5rem; }
  .dashBoard-container .dashBoard-container-items .items-button {
    margin: 0 !important;
    min-width: max-content; }
    .dashBoard-container .dashBoard-container-items .items-button button {
      color: #ffff01;
      font-family: "Averin Heavy";
      border-radius: 20px;
      border: solid 5px #ffff01;
      margin-top: 5rem;
      width: 100%;
      background-color: black; }
      .dashBoard-container .dashBoard-container-items .items-button button:hover {
        color: black;
        background-color: #ffff01;
        border: solid 5px black; }
