$yellow: rgb(255, 255, 1);
$black: black;
$white: white;
$font: Averin Heavy;

.footer-container {
  background-color: $black;
  width: 100%;
  color: $white;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-content {
  padding-bottom: 4rem;
  border-bottom: 2px gray solid;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.link-w {
  color: $white;
}
