.div-container-landingPage {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: black; }

.container-img-text {
  justify-content: center;
  align-items: center;
  color: white;
  width: 28em;
  height: 15em;
  margin: auto;
  margin-top: -3em; }

.titulo-landingPage {
  font-size: 30px;
  color: white;
  text-align: end;
  margin-right: 30px;
  font-family: Averin Heavy; }

.image-landingPage {
  width: 100%;
  padding: 20px;
  border-radius: 25%; }

.text-content {
  max-width: 100%;
  text-align: center;
  font-size: 2em; }

.button-landingPage {
  border: #ffff01 solid 2px;
  background-color: #ffff01;
  border-radius: 10px;
  width: 20em;
  height: 5em;
  font-size: 1em;
  cursor: pointer; }

.button-container-landingPage {
  width: 100%;
  position: relative;
  top: 20%;
  text-align: center; }
